%li
  %article{id: cast[:name]}
    = image_tag asset_path("cast/#{cast[:name]}.jpg")
    %hgroup
      %h1= cast[:fullname] || cast[:name].titleize
      %h2
        - if cast[:character]
          Actor &ldquo;#{cast[:character]}&rdquo;
        - else
          = cast[:role]
    %p= cast[:resume].html_safe
    - if cast[:website]
      %p More at #{link_to cast[:website], "http://www.#{cast[:website].downcase}"}
    %nav
      %a{href: '#cast_crew/previous', class: 'previous'} &lt; Previous
      %a{href: '#cast_crew/next', class: 'next'} Next &gt;
