%header
  %h1 BERT
  %h2 the emotion picture
  = link_to 'Watch the Trailer', '#trailer', class: 'modal', title: 'Trailer'
  %p#notice= flash[:notice]

%nav#menu
  %ul
    %li= link_to 'Story', '#story', class: 'modal', title: 'The Story'
    %li= link_to 'Cast/Crew', '#cast_crew', class: 'modal', title: 'Cast / Crew'
    %li= link_to 'Gallery', '#gallery', class: 'modal', title: 'Gallery'
    %li= link_to 'Soundtrack', '#soundtrack', class: 'modal', title: 'Soundtrack'
    %li= link_to 'Updates', '#updates', class: 'modal', title: 'Updates'
    %li= link_to 'Contact', '#contact', class: 'modal', title: 'Contact Us'

%ul.cast
  %li.actor-1
  %li.actor-2
  %li.actor-3
  %li.actor-4

%footer
  %p <em>Montanick Pictures</em> presents a <em>Jose MONTESINOS</em> production <em class='title'>&ldquo;BERT the emotion picture&rdquo;</em>
  %p <em>Andre MEADOWS Morgan BENOIT Jeneta ST CLAIR Myko OLIVIER Erin KONSTANTINE</em>
  %p with <em>Giovannie ESPIRITU Lisa YOUNGER</em> and <em>David ATWOOD</em> Music by <em>Brian RODVIEN</em>
  %p Written, Produced, &amp; Directed by <em>Jose MONTESINOS</em>
  %p www.montanick.com <em>&copy;2012 Montanick Pictures</em>
  %dl
    %dt Follow
    %dd.facebook= link_to 'Facebook', 'https://www.facebook.com/BERTmovie'
    %dd.youtube= link_to 'Youtube', 'http://www.youtube.com/watch?v=wVc_5gkudQA'
    %dd.twitter= link_to 'Twitter', 'https://twitter.com/jose73'
    %dt Share
    %dd.facebook= link_to 'Facebook', 'https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FBERTmovie&t=BERT%20the%2emotion%20picture'
    %dd.twitter= link_to 'Twitter', 'https://twitter.com/intent/tweet?source=webclient&text=BERT+the+emotion+picture+http%3A%2F%2Fbertmovie.com'

%section#story
  %article
    %p
      <em>Bert: The Emotion Picture</em> tells the story of Bert (Andre Meadows), a socially awkward and isolated man
      who desperately wants the attention of Sara (Jeneta St. Clair), the girl of his dreams. When he sees
      that Sara is consumed with a handsome stranger (Morgan Benoit), Bert becomes obsessed with being just like him.
      Against the backdrop of Los Angeles, the ultimate land of artifice, Bert receives enlightenment through
      a public access TV show that urges viewers to be themselves, but to also demand gifts from the Universe.
      Bert looks in the mirror and wants desperately to become visible to Sara and, ultimately, the world.
      After a chance meeting with a mysterious man named Louis (David Atwood), Bert suddenly feels capable of
      manifesting his most impossible desire to switch bodies with the beautiful stranger.
    %p
      After the transformation, Bert walks away in his new body and the stranger wakes confused and trapped in Bert’s body.
      The question remains, however, if Bert can ultimately transcend his (or anyone else’s) skin.
    %p
      Also starring Myko Olivier and Erin Konstantine, <em>Bert: The Emotion Picture</em> is a surreal fable about the
      nature of love and superficiality.

%section#cast_crew.carousel
  %ol
    %li
      %article#jose_montesinos
        = image_tag asset_path('cast/jose_montesinos.jpg')
        %hgroup
          %h1 Jose Montesinos
          %h2 Writer/Director
        %p
          A native San Franciscan of Peruvian and Salvadorean descent,
          Jose Montesinos has been making movies since he received his first video
          camera at age 14.  He continued to hone his skills through the years,
          and also attended film school at San Francisco City College in
          the early 1990's.  In 2009, Jose was awarded the Mastermind grant
          from the SF Weekly for being recognized as a standout local talent.
          Jose’s feature-length crime drama titled Owned was an official selection
          in several film festivals, including HBO’s New York International Latino
          Film Festival, and has since found a distribution deal with Maverick
          Entertainment. It was released in July 2011.
        %nav
          %a{href: '#cast_crew/next', class: 'next'} Next &gt;
    %li
      %article#morgan_benoit
        = image_tag asset_path('cast/morgan_benoit.jpg')
        %hgroup
          %h1 Morgan Benoit
          %h2 Actor &ldquo;Steffen / Bert&rdquo;
        %p
          Morgan Benoit has been involved in Chinese martial arts for over 15 years.
          Following his passion, he moved to China at age 18 to study at the Beijing Sports University where he mastered Long Fist Kung Fu.
          Once ascending to the top of his class in just a couple of years, he was admitted to the prestigious Shi Cha Hai Sports Academy,
          a former training ground of Jet Li and many of China's top Olympic athletes.
          His love of martial arts led to his interest in acting and he started in China as a stunt man.
          He eventually worked his way up to leading roles in many Chinese and American productions.
          His ability and enthusiasm was well-noted by Jackie Chan whom he worked with in <em>The Forbidden Kingdom (2008)</em>.
        %nav
          %a{href: '#cast_crew/previous', class: 'previous'} &lt; Previous
          %a{href: '#cast_crew/next', class: 'next'} Next &gt;
    %li
      %article#matthew_zipkin
        = image_tag asset_path('cast/matthew_zipkin.jpg')
        %hgroup
          %h1 Matthew Zipkin
          %h2 Sound Mix/Sound Design/Foley
        %p
          Matthew Zipkin studied music and audio engineering at Berklee College of Music in Boston.
          He is currently a full-time audio post-production engineer at One Union Recording Studios in San Francisco, CA,
          and he plays guitar and keyboards in a variety of different bands around the city.
        %p More at #{link_to 'MatthewZipkin.com', 'http://www.matthewzipkin.com'}
        %nav
          %a{href: '#cast_crew/previous', class: 'previous'} &lt; Previous
          %a{href: '#cast_crew/next', class: 'next'} Next &gt;
    %li
      %article#annamarie_mac_leod
        = image_tag asset_path('cast/annamarie_mac_leod.jpg')
        %hgroup
          %h1 Annamarie MacLeod
          %h2 Actor &ldquo;Bernice&rdquo;
        %p
          Annamarie MacLeod has appeared in numerous independent films, among them are <em>U5</em> (a Scary Cow Production) and <em>Political Animals</em>
          (for which she was nominated for best actress at the Action on Film International Film Festival in 2011).
          She also stars in the web-series <em>EXIT Stage Left</em> and the up-coming <em>Social Lies</em>. Ms. MacLeod trained in New York and London,
          and was named an &lsquo;Actor to Watch&rsquo; by WAVE Magazine.
        %p More at #{link_to 'AnnamarieMacLeod.com', 'http://www.annamariemacleod.com'}
        %nav
          %a{href: '#cast_crew/previous', class: 'previous'} &lt; Previous
          %a{href: '#cast_crew/next', class: 'next'} Next &gt;
    %li
      %article#andre_meadows
        = image_tag asset_path('cast/andre_meadows.jpg')
        %hgroup
          %h1 Andre Meadows
          %h2 Actor &ldquo;Bert / Steffen&rdquo;
        %p
          Andre Meadows is an actor, comedian, writer, and <em>Black Nerd</em>. Every week on his YouTube channel, Black Nerd Comedy, Andre rants about geek culture,
          80s-90s nostalgia, and has &ldquo;Awkward Talks with Girls.&rdquo; To see his videos, check out #{link_to 'http://YouTube.com/BlackNerdComedy', 'http://youtube.com/blacknerdcomedy'}.
          Other web credits for Andre include <em>The Guild</em> with Felicia Day, <em>Table Top</em> with Wil Wheaton, and <em>Space Guys in Space</em> with Jason Marsden.
          Andre is also a stand-up comedian, featuring and headlining comedy shows and comic convention panels, even opening for such comics as Aisha Tyler and Maria Bamford.
          His film and TV credits range from being a real movie reviewer on ReelzChannel's <em>Movie Mob</em> to being a fake news reporter on HDNet's <em>Goodnight Burbank</em>.
          He brings his comedic style to commercials, Asylum movies and <em>The Breakdance Kid</em>.
          But he is quite proud to show off his dramatic side in <em>Bert</em> as he has done with stage plays in the past.
        %p More at #{link_to 'AndreMeadows.com', 'http://www.andremeadows.com'}
        %nav
          %a{href: '#cast_crew/previous', class: 'previous'} &lt; Previous
          %a{href: '#cast_crew/next', class: 'next'} Next &gt;
    %li
      %article#ryan_johnson
        = image_tag asset_path('cast/ryan_johnson.jpg')
        %hgroup
          %h1 Ryan Johnson
          %h2 Actor &ldquo;Open Mic MC&rdquo;
        %p
          Ryan Thomas Johnson's acting credits include <em>Saved by the Bell: The New Class</em>, <em>Boston Common</em>, <em>Captain Nuke and the Bomber Boys</em>,
          and the cult classic <em>Carnosaur 2</em>. If all those titles seem to be from the 90's, it's because Ryan has dedicated his recent years to a career in music.
          He has recorded numerous albums, toured in four different countries, shared the stage with everyone from Kid Koala to Joseph Gordon-Levitt,
          scored fast food commercials, and music directed live theatrical events.
        %p More at #{link_to 'RyanThomasJohnson.com', 'http://www.ryanthomasjohnson.com'}
        %nav
          %a{href: '#cast_crew/previous', class: 'previous'} &lt; Previous
          %a{href: '#cast_crew/next', class: 'next'} Next &gt;
    %li
      %article#rachel_marie_lewis
        = image_tag asset_path('cast/rachel_marie_lewis.jpg')
        %hgroup
          %h1 Rachel Marie Lewis
          %h2 Actor &ldquo;Carla&rdquo;
        %p
          Rachel Marie Lewis began acting at Atlanta's Tony Award winning Alliance Theater when she was in her teens.
          She went on to receive a B.F.A. in Drama from NYU's Tisch School of the Arts. Her past credits include <em>Glee</em>, <em>Black Swan</em>,
          and indie festival hit <em>Transatlantic Coffee</em>. You can catch her starring in two more feature films next year: Brand Bros'
          <em>Lie With Me</em> (Also starring Bert's Lisa Younger) and <em>House of Good and Evil</em> (Also starring the great Tippi Hedren).
          Rachel's love of acting is rooted in her deep love of storytelling, and she's very excited to be a part of this unique, fun film!
        %p More at #{link_to 'RachelMarieLewis.com', 'http://www.rachelmarielewis.com'}
        %nav
          %a{href: '#cast_crew/previous', class: 'previous'} &lt; Previous
          %a{href: '#cast_crew/next', class: 'next'} Next &gt;
    %li
      %article#giovannie_espiritu
        = image_tag asset_path('cast/giovannie_espiritu.jpg')
        %hgroup
          %h1 Giovannie Espiritu
          %h2 Actor &ldquo;Babette&rdquo;
        %p
          Giovannie Espiritu is a seasoned, working actress who was nominated for Best Supporting Actress alongside Academy Award nominees Alfre Woodard
          and Amy Irving at Method Fest. Other credits include a recurring role on <em>ER</em> (4 episodes), <em>Trauma</em> (NBC), <em>Bones</em>, and <em>Gilmore Girls</em>.
          She is also founder of the #{link_to 'SfActorsWorkshop.com', 'http://www.sfactorsworkshop.com'}, and her students have been signed by the top agencies in LA and SF.
        %p More at #{link_to 'Giovannie.com', 'http://www.giovannie.com'}
        %nav
          %a{href: '#cast_crew/previous', class: 'previous'} &lt; Previous
          %a{href: '#cast_crew/next', class: 'next'} Next &gt;
    %li
      %article#myko_olivier
        = image_tag asset_path('cast/myko_olivier.jpg')
        %hgroup
          %h1 Myko Olivier
          %h2 Actor &ldquo;Frank&rdquo;
        %p
          Myko Olivier is a California native from Palm Springs, and attended the Tisch School of the Arts at New York University where he earned his B.F.A in Drama.
          Since moving to LA in 2010 he has had a lot of commercial success and has begun to breakout into the film/TV world.
          His credits include (film) <em>Don Juan</em>, <em>Barely Legal</em>, <em>The Cinderella Effect</em>, (TV) <em>South Park</em>, <em>Let It Go</em>,
          (Web) <em>Obelisk Road</em>, and <em>Justin America</em>. Myko will also be staring in a feature film next year with Eric Roberts, Jon Gries, and Martin Kove
          called <em>Todd Lucas: Singer/Songwriter</em>.
        %p More at #{link_to 'MykoOlivier.com', 'http://www.mykoolivier.com'}
        %nav
          %a{href: '#cast_crew/previous', class: 'previous'} &lt; Previous

%section#gallery.carousel
  %ol
    - 24.times do |num|
      %li
        %figure
          = image_tag asset_path("gallery/#{num+1}.jpg")
          %figcaption Photo #{num+1} of 24
  %nav
    %a{href: '#gallery/previous', class: 'previous'} &lt; Previous
    %a{href: '#gallery/next', class: 'next'} Next &gt;

%section#soundtrack
  - iframe 'http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F2140858&amp;auto_play=false&amp;show_artwork=true&amp;color=9C00BA'

%section#updates
  - if @updates.present?
    %ol
      - @updates.each do |update|
        %li
          %article
            = update_published_at(update)
            %h1= update.title
            = markdown update.body
  - else
    %h3 No updates... yet!

%section#contact
  = form_for @message do |f|
    = f.label :from, 'Your email'
    = f.text_field :from
    = f.label :from, 'Your message'
    = f.text_area :content, cols: 80, rows: 18
    = f.submit 'Send!'

%section#trailer
  - iframe 'http://www.youtube-nocookie.com/embed/wVc_5gkudQA?rel=0'

