%header
  %h1 BERT
  %h2 the emotion picture
  = link_to 'Watch the Trailer', '#trailer', class: 'modal'


%nav#menu
  %ul
    %li= link_to 'Story', '#story', class: 'modal'
    %li= link_to 'Cast/Crew', '#cast_crew', class: 'modal'
    %li= link_to 'Gallery', '#gallery', class: 'modal'
    %li= link_to 'Soundtrack', '#soundtrack', class: 'modal'
    %li= link_to 'Updates', '#updates', class: 'modal'
    %li= link_to 'Contact', '#contact', class: 'modal'

%ul.cast
  %li.actor-1
  %li.actor-2
  %li.actor-3
  %li.actor-4

%footer
  %p <em>Montanick Pictures</em> presents a <em>Jose MONTESINOS</em> production <em class='title'>&ldquo;BERT the emotion picture&rdquo;</em>
  %p <em>Andre MEADOWS Morgan BENOIT Jeneta ST CLAIR Myko OLIVIER Erin KONSTANTINE</em>
  %p with <em>Giovannie ESPIRITU Lisa YOUNGER</em> and <em>David ATWOOD</em> Music by <em>Brian RODVIEN</em>
  %p Written, Produced, &amp; Directed by <em>Jose MONTESINOS</em>
  %p www.montanick.com <em>&copy;2012 Montanick Pictures</em>
  %dl
    %dt Follow
    %dd.facebook= link_to 'Facebook', 'https://www.facebook.com/BERTmovie'
    %dd.youtube= link_to 'Youtube', 'http://www.youtube.com/watch?v=wVc_5gkudQA'
    %dd.twitter= link_to 'Twitter', 'javascript:void(0);'
    %dt Share
    %dd.facebook= link_to 'Facebook', 'https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FBERTmovie&t=BERT%20the%2emotion%20picture'
    %dd.twitter= link_to 'Twitter', 'https://twitter.com/intent/tweet?source=webclient&text=BERT+the+emotion+picture+http%3A%2F%2Fbertmovie.com'

%section#story
  %h3 Coming Soon

%section#cast_crew
  %h3 Coming Soon

%section#gallery
  %h3 Coming Soon

%section#soundtrack
  - iframe 'http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F2140858&amp;auto_play=false&amp;show_artwork=true&amp;color=9C00BA'

%section#updates
  %h3 Coming Soon

%section#contact
  %h3 Coming Soon

%section#trailer
  - iframe 'http://www.youtube-nocookie.com/embed/wVc_5gkudQA?rel=0'

