%header
  %h1 BERT
  %h2 the emotion picture

%nav#menu
  %ul
    %li= link_to 'Story', '#story'
    %li= link_to 'Cast/Crew', '#cast_crew'
    %li= link_to 'Gallery', '#gallery'
    %li= link_to 'Soundtrack', '#soundtrack'
    %li= link_to 'Updates', '#updates'
    %li= link_to 'Contact', '#contact'

%ul.cast
  %li.actor-1
  %li.actor-2
  %li.actor-3
  %li.actor-4

%footer
  %p <em>Montanick Pictures</em> presents a <em>Jose MONTESINOS</em> production <em class="title">&ldquo;BERT the emotion picture&rdquo;</em>
  %p <em>Andre MEADOWS Morgan BENOIT Jeneta ST CLAIR Myko OLIVIER Erin KONSTANTINE</em>
  %p with <em>Giovannie ESPIRITU Lisa YOUNGER</em> and <em>David ATWOOD</em> Music by <em>Brian RODVIEN</em>
  %p Written, Produced, &amp; Directed by <em>Jose MONTESINOS</em>
  %p www.montanick.com <em>&copy;2012 Montanick Pictures</em>

%section#story
  %h3 Coming Soon

%section#cast_crew
  %h3 Coming Soon

%section#gallery
  %h3 Coming Soon

%section#soundtrack
  %h3 Coming Soon

%section#updates
  %h3 Coming Soon

%section#contact
  %h3 Coming Soon
